body {
    background-color: #ffffff;
    font-family:'Roboto', sans-serif;
}

.header {
    text-align: center;
    background-color: #b71c1c;
    color: #ffffff;
    box-shadow: 0 10px 6px -6px gray;
    font-family:'Roboto', sans-serif;
}

h1 {
    font-family:'Roboto', sans-serif;
    font-size: 200px;
}
/*Page 1*/

/*Page 2*/
.dateBtns, .finalBtns, .dateChoices, .eventBtns {
    height: 20vh;
}

.dateChoicesContainer, .dateContainers , .finalDivContainer, .eventContainers, .eventChoices {
    height: 90%;
    background-color: #ef5350;
    text-align: center;
    box-shadow: 0 10px 6px -6px gray;
    position:relative;
    overflow: hidden;
}
/*Page 3*/

/*Page 4*/
.eventBtns{

}

/*Page 5*/
.finalBtns {

}
.finalBtns .nameContainers{
    opacity: 1;
    bottom: 11%;
}
.finalDivContainer{
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}
/*#final_2 {*/
    /*height: 500px;*/
    /*width: 300px;*/
/*}*/

@media only screen and (min-width: 768px){
    .dateBtns, .dateChoices, .eventBtns, .finalBtns {
        height: 35vh;
    }
}

@media only screen and (max-width: 768px){
    .finalBtns {
        height: 30vh;
    }
}
.flickrImg {
    width: 100%;
    height: 100%;
}

.nameContainers{
    background-color: #000000;
    opacity: 0;
    transform: translateY(0%);
    color: #ef5350;
    font-size: 1.5em;
    position: relative;
    bottom: 81%;
    overflow: hidden;
    text-align: center;
}

.dateBtns:hover .nameContainers {
    transform: translateY(-100%);
    opacity: 1;
    transition-duration: 0.5s;
}
.eventBtns:hover .nameContainers{
    transform: translateY(-100%);
    opacity: 1;
    transition-duration: 0.5s;
}

.dateContainers {
    background-size: cover;
    background-repeat: no-repeat;
}

.dateChoicesContainer {
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}

.dateChoices:hover .nameContainers {
    transform: translateY(-100%);
    opacity: 1;
    transition-duration: 0.5s;
}


.eventContainers {
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}

#final_2 {
    width: 100%;
    height: 100%;
}
#title > div > h1{
    font-size: 2em;
    color: black;
    text-transform: uppercase;
    margin:0;
    font-weight: bold;
}
#title > div {
    font-size: 2em;
    color: black;
}