body {
    background-color: #ffffff;
}

.header {
    text-align: center;
    background-color: #b71c1c;
    color: #ffffff;
    box-shadow: 0 10px 6px -6px gray;
}


/*Page 1*/

/*Page 2*/
.dateBtns, .finalBtns, .dateChoices, .eventBtns {
    height: 20vh;
}

.dateChoicesContainer, .dateContainers , .finalDivContainer, .eventContainers, .eventChoices {
    height: 90%;
    background-color: #ef5350;
    text-align: center;
    padding: 15px, 0; /*NEED TO FIX*/
    box-shadow: 0 10px 6px -6px gray;
}
/*Page 3*/

/*Page 4*/
.eventBtns{

}

/*Page 5*/
.finalBtns {

}
/*#final_2 {*/
    /*height: 500px;*/
    /*width: 300px;*/
/*}*/

@media only screen and (min-width: 768px){
    .dateBtns, .dateChoices, .eventBtns, .finalBtns {
        height: 35vh;
    }
}

@media only screen and (max-width: 768px){
    .finalBtns {
        height: 30vh;
    }
}
.flickrImg {
    width: 100%;
    height: 100%;
}